.container {
    width: 1200px;
    margin: 0 auto;
}

.section__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px 15px;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
}